<nav class="header">
  <div class="top">
    <div class="name" >
  <button class="menu-btn me-5" (click)="toggle()"><i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i></button>
  <span class="brand" style="color: aliceblue;">Employee Management Software</span>
    </div>
  <i class="fa-solid fa-circle-half-stroke" style="color: #ffffff;"></i>
  <i class="fa-solid fa-id-card" style="color: #ffffff;"></i>
  <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i>
  </div>
</nav>
