<div class="container-fluid min-vh-100 d-flex flex-column">

  <!-- HEADER -->
  <div class="row">
    <div class="col-12 p-0">
      <app-header></app-header>
    </div>
  </div>

  <!-- BODY -->
  <div class="row flex-grow-1 layout-body">

  <div class="col-auto p-0">
    <app-sidebar></app-sidebar>
  </div>
 
 

  <div class="col p-3 main-content content">
    <router-outlet></router-outlet>
  </div>

</div>
  <!-- FOOTER -->
  <div class="row">
    <div class="col-12 p-0">
      <app-footer></app-footer>
    </div>
  </div>

</div>
