<div class="profile-grid">

    <div class="card">
        <button class="edit-btn" title="Edit">
      <i class="fa-solid fa-pen"></i>
    </button>
    <h3>Employee Details</h3>

    <div class="card-body">
      <!-- LEFT: DETAILS -->
      <div class="details">
        <p><b>Nekkanti Kalki Abhi Koushik</b></p>
        <p>Software Engineer</p>
        <p>Development</p>
        <p>kalki@gmail.com</p>
  
      </div>

      <!-- RIGHT: PHOTO -->
      <div class="photo">
        <img src="assets/profile.png" alt="Employee Photo">
      </div>
    </div>

  </div>


  <div class="card">
    <button class="edit-btn" title="Edit">
      <i class="fa-solid fa-pen"></i>
    </button>
    <h3>Bank Details</h3>
    <p>HDFC Bank</p>
    <p>8526837733933</p>
    <p>HDFC00239</p>
 
  </div>
 
</div>
